header{
	background-color:white;
	height:70px;
	width:100%;
	border-bottom: 1px #CCCCCC solid;
	margin-bottom: 20px;
}
img{
	margin:30px;
	padding-bottom: 1rem;	
}
header + .container{
	margin: 0 auto;
}